/* Brand Colors */
:root {
  --brand-accent: #44b1ff;
  --brand-accent-light: #acddff;
  --brand-accent-dark: #0095ff;
  --brand-accent-darker: #006ebd;
  --brand-scale-0: #56c7ff;
  --brand-scale-5: #4cb0ff;
  --brand-scale-10: #4198ff;
  --brand-scale-20: #432cff;
  --brand-scale-30: #e417ff;
  --brand-scale-40: #ff018e;
  --brand-scale-50: #ff0059;
  --font-size-base: 1.8rem;
}

html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.5;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: var(--font-size-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

#job-title {
  font-size: 2rem;
  font-weight: normal;
  margin-right: 8%;
  margin-left: 8%;
}

#mission {
  margin: 5rem 0;
}

#contact {
  font-size: 1.6rem;
}

.profileImageWrapper {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: 4px 4px 0 0 rgba(65, 152, 255, 0.4),
    -2px -2px 0 0 rgba(255, 1, 142, 0.4);
}

.profileImageWrapper img {
  border-radius: 50%;
}

p {
  font-size: var(--font-size-base);
}

a {
  color: #000;
  text-decoration: none;
  transition: 200ms box-shadow ease-in-out;
  position: relative;
  display: inline;
  box-shadow: inset 0 -0.1em 0 0 #4cb0ff;
}

a:hover {
  text-decoration: none;
  box-shadow: inset 0 -0.6em 0 0 rgba(255, 1, 142, 0.2);
}

.site-title {
  font-weight: 400;
}

.welcome-mat {
  background-color: var(--brand-accent);
  padding: 2em 0;
  color: #fff;
  margin-bottom: 3em;
}

.welcome-mat a {
  color: #fff;
}

.welcome-mat .text-muted {
  color: #b7e1ff;
}

.welcome-mat .lead {
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}

.welcome-mat h1 small,
.welcome-mat h2 small,
.welcome-mat h3 small,
.welcome-mat h4 small,
.welcome-mat h5 small,
.welcome-mat h6 small {
  color: var(--brand-accent-darker);
}

.article-title {
  margin-bottom: 0.25rem;
}

.article-description {
  margin-bottom: 0.25rem;
  margin-top: 2rem;
}

.article-metadata {
  display: block;
  margin-bottom: 0.75rem;
  color: #555555;
}

hr {
  margin: 4rem 0;
  border: 0 solid;
  height: 2px;
  background-color: rgba(255, 0, 89, 0.8);
}

article {
  margin-bottom: 4rem;
}

article img {
  margin: 2em auto 0 auto;
  max-width: 100%;
}

article p {
  margin: 0 0 1.25em;
}

article p + ul,
article p + ol {
  margin-top: -0.75em;
}

article cite {
  color: #777;
  font-style: italic;
  font-size: 0.8em;
}

article blockquote {
  border-left: 3px solid #432cff;
  margin: 0 0 1.25em;
  padding: 0.25rem 0 0.25rem 2rem;
}

article blockquote > p {
  margin: 0.5rem 0;
}

article pre {
  white-space: pre-wrap;
  background-color: #f4f4f4;
  padding: 0.5em;
  font-size: 0.9em;
}

.article-deck-body p {
  margin: 0;
}

.text-upper {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.editors-note {
  padding: 16px;
  margin-bottom: 24px;
  background-color: #eee;
  color: #323232;
}

.image-caption {
  font-size: 0.8em;
  color: #999;
  margin-top: 0;
}

ul, ol {
  padding-left: 1.5em;
}

iframe {
  width: 100%;
}

.pinned-post {
  background-color: rgba(86, 199, 255, 0.1);
  padding: 1.5rem;
}

.pinned-post header {
  display: flex;
  flex-direction: row;
  flex-flow: row;
}

.pinned-post header h3 {
  margin-top: 0;
  flex-grow: 1;
}

.pinned-post header .pinned-label {
  color: #ff0059;
  display: inline-block;
  padding: 0 0.25rem;
  margin: 0;
  font-size: 0.9em;
  border-radius: 2px;
}

.bio-mini img {
  margin: 0;
}

footer small,
footer small * {
  font-size: 1rem;
  color: #555555;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 2rem 0;
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
}

table tbody td,
table tbody th {
  border-top: 1px solid #ddd;
  padding: 0.25rem 0.5rem;
}

table tbody th {
  text-align: left;
}

table tbody tr:nth-child(odd) > td,
table tbody tr:nth-child(odd) > th {
  background-color: #f3f3f3;
}
